aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.4.0
audioop-lts==0.2.2
captcha==0.7.1
cffi==2.0.0
colorama==0.4.6
colorlog==6.10.1
discord.py==2.6.4
dotenv==0.9.9
frozenlist==1.8.0
greenlet==3.3.0
idna==3.11
multidict==6.7.0
packaging==25.0
pillow==12.1.0
propcache==0.4.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.0
PyNaCl==1.6.2
python-dotenv==1.2.1
topggpy==2.0.0a0
typing-inspection==0.4.2
typing_extensions==4.15.0
yarl==1.22.0
