aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
captcha==0.7.1
click==8.3.1
colorama==0.4.6
colorlog==6.9.0
discord.py==2.6.0
dotenv==0.9.9
frozenlist==1.7.0
greenlet==3.2.4
idna==3.10
multidict==6.6.4
packaging==25.0
pillow==11.3.0
propcache==0.3.2
pydantic==2.12.0a1
pydantic_core==2.39.0
pyee==13.0.0
python-dotenv==1.1.1
topggpy==2.0.0a0
typing-inspection==0.4.1
typing_extensions==4.15.0rc1
watchdog==6.0.0
yarl==1.20.1
